---
theme: 'bg-light-grey'
---

<article class="py-[16.5rem]">
  <section>
    <div class="wrap-2xl flex">
      <div class="w-2/12 px-4">
        <a class="btn-base btn-blue" href="/am-files">{{ partial:svg/arrow_left class="w-8" }}</a>
      </div>
      <div class="w-8/12 px-4 pb-14">
        <span class="inline-block block px-5 py-4 rounded border border-dark-grey bg-dark-grey font-medium text-white">{{ client }}</span>
        <h1 class="type-heading mt-10">{{ heading }}</h1>
      </div>
    </div>
  </section>
  {{ partial:article/article }}
</article>