<article class="pt-[16.5rem]">
  <section>
    <div class="wrap-2xl flex">
      <div class="w-2/12 px-4">
        <a class="btn-base btn-blue hover:bg-blue hover:text-white" href="/am-files">{{ partial:svg/arrow_left class="h-4" }}</a>
      </div>
      <div class="w-8/12 px-4 pb-14">
        <span class="inline-block block px-5 py-4 rounded border border-dark-grey bg-dark-grey font-medium text-white">{{ client }}</span>
        <h1 class="type-heading mt-10">{{ heading }}</h1>
      </div>
    </div>
  </section>
  {{ partial:article/article }}
</article>

<section class="pt-[6rem] lg:pt-[10rem] pb-[6rem] lg:pb-[8rem] bg-white text-dark-grey">
  <div class="wrap-2xl">
    <div class="lg:w-6/12 pl-4">
      {{ footer_text ?? footer:case_study_default_text | classify:margins }}
    </div>
  </div>
</section>

{{ partial:sections/ctas style="white" }}

{{ section:jsbefore }}
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
{{ /section:jsbefore }}