<section class="py-[15rem] bg-light-green">
  <div class="wrap-2xl">
    <div class="lg:w-8/12 pl-4">
      <div class="pb-10">
        {{ partial:components/speach }}
      </div>
      <div
        x-data="{ typed: null, current: 0 }"
        x-init="() => {
          typed = new Typed($refs.showcase, {
            stringsElement: $refs.quotes,
            typeSpeed: 30,
            backSpeed: 10,
            loop: true,
            onStringTyped: (arrayPos, self) => {
              if (arrayPos > 0) {
                self.stop()
                $refs.wrapper.children[arrayPos].style = '';
                setTimeout(() => {
                  $refs.wrapper.children[arrayPos].style.display = 'none';
                  self.start()
                }, 2000)
              }
            },
          });
        }"
        class="h-[300px]"
      >
        <div x-ref="quotes">
          <span></span>
          {{ testimonials }}
            <span>"{{ quote }}"</span>
          {{ /testimonials }}
        </div>
        <div>
          <div class="type-heading">
            <span x-ref="showcase"></span>
          </div>
          <div x-ref="names">
            <!-- style="width: 0;"> -->
            <div class="pt-8" x-ref="wrapper">
              <div class="inline-block" style="display: none;"></div>
              {{ testimonials }}
              <div class="inline-block" style="display: none;">
                {{ if logo }}
                  <img class="h-6" src="{{ logo }}">
                {{ else }}
                  <p class="type-leadline">{{ name }}</p>
                {{ /if }}
              </div>
              {{ /testimonials }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>