---
theme: 'bg-light-green'
---

<article class="py-[16.5rem]">
  <section>
    <div class="wrap-2xl flex">
      <div class="w-2/12 px-4">
        <a class="btn-base btn-blue" href="/am-files">{{ partial:svg/arrow_left class="w-8" }}</a>
      </div>
    </div>
    <div class="wrap-2xl flex">
      <div class="w-8/12 ml-2/12 px-4 pb-14">
        <h1 class="type-heading mt-10 mb-14">{{ heading }}</h1>
        {{ author }}<a class="text-blue underline" href="mailto:{{ email }}">{{ email }}</a>{{ /author }}
        <div class="mt-20 p-10 rounded border border-dark-grey">
          <p class="type-body">Takeaway:</p>
          <ul class="pt-14 px-10">
            {{ takeaway }}
            <li class="flex mb-4">
              <div class="mr-4">{{ partial:svg/bolt class="w-[1.125rem]" }}</div>
              <div class="type-callout">{{ text }}</div>
            </li>
            {{ /takeaway }}
          </ul>
        </div>
      </div>
    </div>
  </section>
  {{ partial:article/article }}
</article>