<section>
  <?typeform-welcome=0>
  <div data-tf-widget="Q9x0MwMj" data-tf-opacity="100" data-tf-iframe-props="title=Let's Talk" data-tf-transitive-search-params data-tf-medium="snippet" data-tf-inline-on-mobile style="width:100%;height:100vh;"></div><script src="//embed.typeform.com/next/embed.js"></script>
</section>
<!-- <section class="pt-[8rem] md:pt-[12rem] lg:pt-[13.75rem] pb-4 md:pb-6 lg:pb-12">
  <div class="wrap-2xl">
    <div class="w-full lg:w-6/12 lg:ml-2/12 px-4">
      <h2 class="type-title mt-10 mb-10">{{ hero_heading }}</h2>
      <div>{{ hero_text | classify:margins }}</>
    </div>
  </div>
</section> -->

<section class="pt-[6rem] md:pt-[10rem] lg:pt-[15rem] bg-light-green">
{{ partial:sections/ctas }}

{{ section:jsbefore }}
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
{{ /section:jsbefore }}