<section class="flex h-screen">
  <div class="wrap-md md:flex md:items-center my-auto">
    <div class="px-4 lg:px-8 text-center md:text-left">
      <img class="inline-block w-[16.5rem] max-w-full mx-auto rounded-full" src="/img/story/looking.gif">
    </div>
    <div class="px-4 lg:px-8 text-center md:text-left">
      <p class="type-title"><b>404</b></p>
      <p class="mb-8 type-headline"><b>Yikes! It looks like it's just you here. Sorry about that.</b></p>
      <p class="type-body">Let's get you <a href="/" class="hoverline-base hover:hoverline-active">home</a>.</p>
    </div>
  </div>
</section>