<footer class="sticky left-0 right-0 bottom-0 z-10 pt-28 pb-16 lg:pb-28 bg-light-blue text-dark-grey">
  <div class="wrap-2xl md:flex pb-10 lg:pb-20">
    <div class="md:w-1/2 px-4">
      <p class="type-subheading font-medium">Active Matter</p>
    </div>
    <div class="md:w-1/2 px-4 md:text-right">
      <p class="type-subheading">Positive buisness <span class="inline-block mr-[.5em]">growth</span><span class="inline-block px-[.5em] border border-black rounded"> by design</span></p>
    </div>
  </div>
  <div class="wrap-2xl">
    <div class="lg:w-1/2 px-4">
      <ul class="type-subheading text-blue">
        {{ nav handle="footer" }}
          <li class="my-4"><a class="hoverline-base hoverline-offset hover:hoverline-active" href="{{ url }}">{{ title }}</a></li>
        {{ /nav }}
        <li class="my-4"><a class="group" href="/am-files"><span class="hoverline-base hoverline-offset group-hover:hoverline-active">AM files</span> {{ partial:svg/files class="inline ml-2 h-[1.5em]" }}</a></li>
      </ul>
      <div class="py-16 lg:py-28">
        <p class="mb-2 type-body">{{ footer:newsletter_text }}</p>
        <fieldset class="md:flex">
          <input class="md:flex-1 w-full px-4 py-2 type-callout text-light-blue" type="email" name="email" placeholder="Email address" required>
          <button class="inline-block md:ml-8 mt-2 type-subheading text-left text-blue hoverline-base hoverline-offset hover:hoverline-active" type="submit">Subscribe</button>
        </fieldset>
      </div>
      <div>
        <p>© {{ now format="Y" }} Active Matter Limited</p>
      </div>
    </div>
  </div>
</footer>