<nav
  class="fixed top-0 left-0 right-0 z-40"
  x-data="{ open: null, close: null }"
  x-init="() => {
    open = () => {
      document.body.style.overflow = 'hidden'
      gsap.to($refs.inner, {
        duration: 1,
        height: '100vh',
        ease: 'power4.inOut',
        onComplete: () => animating = false
      })
    }
    close = () => {
      gsap.to($refs.inner, {
        duration: 1,
        height: '0',
        ease: 'power4.inOut',
        onComplete: () => {
          animating = false
          document.body.style.overflow = ''
        }
      })
    }
  }"
>
  <div class="wrap-2xl flex items-center relative z-10 pt-14">
    <div class="px-4">
      <a href="/">
        {{ partial:svg/logo class="w-[3.75rem]" }}
      </a>
    </div>
    <div class="ml-auto px-4">
      <button
        class="btn-base {{ if view:invert_nav }}btn-white hover:bg-white hover:text-blue{{ else }}btn-dark-grey hover:bg-dark-grey hover:text-white{{ /if }}"
        type="button"
        @click="open"
      >
        Menu
      </button>
    </div>
  </div>
  <div class="flex flex-col absolute top-0 left-0 right-0 z-20 {{ view:nav ?? 'bg-blue' }} text-white overflow-auto touch-scroll" x-ref="inner" style="height: 0;">
    <div class="wrap-2xl flex items-center pt-14">
      <div class="px-4">
        <a href="/">
          {{ partial:svg/logo class="w-[3.75rem]" }}
        </a>
      </div>
      <div class="ml-auto px-4">
        <button
          class="btn-base btn-white hover:bg-white hover:text-blue"
          type="button"
          @click="close"
        >
          Close
        </button>
      </div>
    </div>
    <div class="wrap-2xl px-4 pt-24">
      <ul>
        <li class="mb-8 type-heading">
          <a class="group" href="/opportunity-lab"><span class="hoverline-base hoverline-offset group-hover:hoverline-active">Opportunity lab</span></a>
        </li>
        <li class="mb-8 type-heading">
          <a class="group" href="/product-launchpad"><span class="hoverline-base hoverline-offset group-hover:hoverline-active">Product launchPad</span></a>
        </li>
        <li class="mb-12 type-heading">
          <a class="group" href="/mobility-mission"><span class="hoverline-base hoverline-offset group-hover:hoverline-active">Mobility mission</span></a>
        </li>
        <li class="mb-8 type-headline">
          <a class="group" href="/am-files"><span class="hoverline-base hoverline-offset group-hover:hoverline-active">AM files</span> {{ partial:svg/files class="inline ml-2 h-[1.2em]" }}</a>
        </li>
        <li class="mb-8 type-headline">
          <a class="group" href="/lets-talk"><span class="hoverline-base hoverline-offset group-hover:hoverline-active">Let's talk</span> {{ partial:svg/talk class="inline ml-2 h-[1.2em]" }}</a>
        </li>
        <li class="mb-8 type-headline">
          <a class="group" href="/join-us"><span class="hoverline-base hoverline-offset group-hover:hoverline-active">Join us</span> {{ partial:svg/join class="inline ml-2 h-[1.2em]" }}</a>
        </li>
      </ul>
    </div>
    <div class="wrap-2xl md:flex mt-auto py-24">
      <div class="px-4">
        <p class="type-body mb-4">Find us</p>
        <p class="type-body font-medium mb-4">{{ information:address | nl2br }}</p>
        <p class="text-[1.5rem] leading-[2rem] font-medium"><a class="hoverline-base hover:hoverline-active" href="{{ information:map_link }}" target="_blank">{{ information:postcode }}</a></p>
      </div>
      <div class="ml-auto px-4 md:pt-8">
        <div class="mt-8"><a href="{{ information:in }}" target="_blank">{{ partial:svg/in class="w-8 h-8" }}</a></div>
        <div class="mt-8"><a href="{{ information:li }}" target="_blank">{{ partial:svg/li class="w-8 h-8" }}</a></div>
      </div>
    </div>
  </div>
</nav>