<div class="md:flex md:items-stretch w-full relative {{ if colour == 'black' }}bg-dark-grey text-white{{ elseif colour == 'white' }}bg-white text-dark-grey{{ elseif colour == 'blue'  }}bg-blue text-white{{ /if }}">
  <img class="block relative z-10 md:w-1/2 object-cover" src="{{ glide:image w="2720" h="1440" fit="crop_focal" }}">
  <div class="md:w-1/2 p-8 md:p-16 lg:py-[12%] lg:px-[8%]">
    <p class="mb-6 type-subheading">{{ text }}</p> 
    {{ if button_label }}
      <a
        class="btn-base {{ if colour == 'black' }}btn-white hover:bg-white hover:text-dark-grey{{ elseif colour == 'white' }}btn-dark-grey hover:bg-dark-grey hover:text-white{{ elseif colour == 'blue'  }}btn-white hover:bg-white hover:text-blue{{ /if }}"
        href="{{ button_link }}"
      >
        <span class="inline-block align-middle">{{ button_label }}</span>
        {{ if button_icon != 'none' }}<span class="inline-block align-middle ml-4">{{ partial src="svg/{ button_icon }" class="w-3.5" }}</span>{{ /if }}
      </a>
    {{ /if }}
  </div>
</div>