<section class="pb-[6rem] md:pb-[10rem] lg:pb-[15rem]
  {{ if !style }} bg-light-green{{ /if }}
  {{ if style }}
    {{ if style == 'yellow' }} bg-light-green{{ elseif style === 'white' }} bg-white text-dark-grey{{ else }} bg-light-yellow{{ /if }}
  {{ /if }}
">
  <div class="wrap-2xl md:flex">
    <div class="md:w-1/2 lg:w-4/12 px-4">
      <p class="type-body">{{ footer:cta_talk_text }}</p>
      <a class="type-headline text-blue group" href="/lets-talk"><span class="hoverline-base group-hover:hoverline-active">Let's talk</span>{{ partial:svg/talk class="inline ml-4 h-[1.2em]" }}</a>
    </div>
    <div class="md:w-1/2 lg:w-4/12 lg:ml-2/12 px-4 pt-8 md:pt-0">
      <p class="type-body">{{ footer:cta_join_text }}</p>
      <a class="type-headline text-blue group" href="/join"><span class="hoverline-base group-hover:hoverline-active">Join us</span>{{ partial:svg/join class="inline ml-4 h-[1.2em]" }}</a>
    </div>
  </div>
</section>