<section class="pb-[15rem] {{ theme ?? 'bg-light-green' }}">
  <div class="wrap-2xl md:flex">
    <div class="md:w-1/2 lg:w-4/12 px-4">
      <p class="type-body">{{ footer:cta_talk_text }}</p>
      <a class="type-headline text-blue" href="/lets-talk"><span class="border-b border-blue">Let's talk</span>{{ partial:svg/talk class="inline ml-4 h-[1.2em]" }}</a>
    </div>
    <div class="md:w-1/2 lg:w-4/12 lg:ml-2/12 px-4 pt-8 md:pt-0">
      <p class="type-body">{{ footer:cta_join_text }}</p>
      <a class="type-headline text-blue" href="/join"><span class="border-b border-blue">Join us</span>{{ partial:svg/join class="inline ml-4 h-[1.2em]" }}</a>
    </div>
  </div>
</section>