<section class="pb-24 md:pb-32 lg:pb-40">
  <div class="wrap-2xl">
    <div class="lg:w-6/12 mx-auto px-4">
      <div class="flex relative {{ class }} border border-black rounded-full">
        <div class="flex-1 p-4 lg:p-8 type-callout text-center">{{ pill_left_hand_text }}</div>
        <div class="flex-1 p-4 lg:p-8 type-callout text-center">{{ pill_right_hand_text }}</div>
        <div class="absolute top-0 bottom-0 left-1/2 border-l border-black"></div>
        <div class="absolute -top-1 lg:top-1/2 left-1/2 px-4 {{ class }} border border-black rounded font-bold text-[14px] leading-[28px] uppercase -translate-x-1/2 -translate-y-1/2">{{ pill_label_text }}</div>
      </div>
    </div>
  </div>
</section>