@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrap-xs {
    @apply
    w-full
    max-w-screen-xs
    mx-auto;
  }
  .wrap-sm {
    @apply
    w-full
    max-w-screen-sm
    mx-auto;
  }
  .wrap-md {
    @apply
    w-full
    max-w-screen-md
    mx-auto;
  }
  .wrap-lg {
    @apply
    w-full
    max-w-screen-lg
    mx-auto;
  }
  .wrap-xl {
    @apply
    w-full
    max-w-screen-xl
    mx-auto;
  }
  .wrap-2xl {
    @apply
    w-full
    max-w-screen-2xl
    mx-auto;
  }

  .btn-base {
    @apply
    inline-block
    relative
    px-5
    py-4
    border
    rounded
    transition
    duration-200
    font-medium;
    line-height: 150%;
    letter-spacing: .04em;
  }

  .btn-blue {
    @apply
    border-blue
    text-blue;
  }

  .btn-dark-grey {
    @apply
    border-dark-grey
    text-dark-grey;
  }

  .fieldset-group {
    @apply
    mb-4
    text-left;
  }

  .fieldset-group select {
    @apply
    appearance-none
    w-full
    px-4
    py-2
    border-none
    bg-white
    placeholder-gray-500;
  }

  .fieldset-group select option:first-child {
    @apply
    opacity-50;
  }

  .fieldset-group input[type="text"],
  .fieldset-group input[type="email"],
  .fieldset-group textarea {
    outline: none !important;
    @apply
    appearance-none
    w-full
    px-4
    py-2
    border-none
    bg-white
    rounded-sm
    placeholder-gray-500
    focus:ring
    focus:ring-blue-500;
  }

  .fieldset-group input[type="checkbox"] {
    outline: none !important;
    @apply
    appearance-none
    bg-white
    h-6
    w-6
    text-green
    border-white
    rounded-sm
    checked:bg-blue-500
    focus:ring
    focus:ring-blue-500;
  }

  .fieldset-group input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  }

  .fieldset-group.fieldset-medium select,
  .fieldset-group.fieldset-medium input[type="text"],
  .fieldset-group.fieldset-medium input[type="email"],
  .fieldset-group.fieldset-medium textarea {
    @apply
    bg-white;
  }

  .type-h1 {

  }

  /* boby-g-rl*/
  .type-body {
    font-size:1rem;
    font-family:"DM Sans";
    font-weight:400;
    font-style:normal;
    line-height:28px;
    text-decoration:none;
    text-transform:none;
    @apply lg:text-[1.125rem];
  }

  /* big-title-rl*/
  .type-title {
    font-size:5rem;
    font-family:"DM Sans";
    font-weight:500;
    font-style:normal;
    line-height:80px;
    text-decoration:none;
    text-transform:none;
  }

  /* h-2-g-rl */
  .type-heading {
    font-size:3.5rem;
    font-family:"DM Sans";
    font-weight:500;
    font-style:normal;
    line-height:72px;
    text-decoration:none;
    text-transform:none;
  }

  .type-headline {
    font-size:2.375rem;
    font-family:"DM Sans";
    font-weight:100;
    font-style:normal;
    line-height:48px;
    text-decoration:none;
    text-transform:none;
  }

  .type-leadline {
    font-size:1.875rem;
    font-family:"DM Sans";
    font-weight:100;
    font-style:normal;
    line-height:48px;
    text-decoration:none;
    text-transform:none;
  }

  /*  h-3-g-rl */
  .type-subheading {
    font-size:1.25rem;
    font-family:"DM Sans";
    font-weight:500;
    font-style:normal;
    line-height:40px;
    text-decoration:none;
    text-transform:none;
    @apply lg:text-[1.75rem];
  }

  /* callout */
  .type-callout {
    font-size:1.25rem;
    font-family:"DM Sans";
    font-weight:500;
    font-style:normal;
    line-height:28px;
    text-decoration:none;
    text-transform:none;
  }

  .type-href {
    @apply underline
  }

  .type-safe:empty:before {
    content: ' ';
    white-space: pre;
  }


  .amline {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
    background-size: 200% 1px;
    background-position: 0% 100%;
    background-repeat: repeat no-repeat;
    transition: background-position 750ms cubic-bezier(.54,.1,.33,.93);
  }

  .amline:hover {
    background-position: -200% 100%;
  }
}

.flickity-viewport,
.flickity-enabled {
  outline: none !important;
}

.flickity-h-full > .flickity-viewport,
.flickity-h-full > .flickity-viewport > .flickity-slider {
  @apply h-full;
}

[x-cloak] {
  display: none;
}